.pq-row {
  width: 100%;
}
.pq-row #pq-menu {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.hidden {
  display: none;
}
#pq-navbar {
  position: absolute;
  bottom: 0px;
}

.pq-row {
  width: 100%;
}
.pq-row #pq-menu {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.hidden {
  display: none;
}
