.pq-row {
  width: 100%;
}
.pq-row #pq-menu {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.hidden {
  display: none;
}
html,
body,
#map {
  height: 100%;
}
#pq-navbar {
  position: absolute;
  bottom: 0px;
}
.pq-content {
  width: height:100%;
}

.pq-row {
  width: 100%;
}
.pq-row #pq-menu {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.hidden {
  display: none;
}
