<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock%}</title>
        <meta charset='utf-8'>

        <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='site/css/main.less.css'>
        
        <script src='bower_components/jquery/jquery.min.js'></script>
    </head>
    <body>

        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3>
                    Header
                </h3>
            </div>

            {% block content  %}{% endblock %}

            <div id='pq-navbar' data-role="navbar" data-iconpos="top">
                <ul>
                    <li>
                        <a href="#page1" data-transition="fade" data-theme="" data-icon="">
                            Button
                        </a>
                    </li>
                    <li>
                        <a href="#page1" data-transition="fade" data-theme="" data-icon="">
                            Button
                        </a>
                    </li>
                    <li>
                        <a href="#page1" data-transition="fade" data-theme="" data-icon="">
                            Button
                        </a>
                    </li>
                </ul>
            </div>
        
        </div>

        {% block script %}{% endblock %}

        <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    </body>
</html>
