{% extends 'base.html' %}

    {% block pageId %}home{% endblock %}

    {% block content %}
        <script>
        $(document).ready(function() {
                var resizeMap = function() {
                //console.log('Formatting iframe height.');
                var mapFrame = $('#pg-map-frame');

                var documentHeight = $(document).height() ;
                //console.log('doc height : ' + documentHeight);

                mapFrame.height($(document).height() - 5 - 
                    (parseInt($('div[data-role="content"]').css('padding-top'), 10) + parseInt($('div[data-role="content"]').css('padding-bottom'), 10)) -
                    ($('#pq-menu').height() + $('div[data-role="header"]').height()));
                }; resizeMap();

                $(window).resize(resizeMap);
            });
        </script>

        <div data-role='content' class='pq-content'>

            <!--
            <div id='pg-map-frame' width=100%;>
                <div id="map"></div>
                <script>
                    (function() {
                        // halifax - 44.645575,-63.585461
                        var map = L.map('map').setView([44.645575, -63.585461], 12);
                        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        //L.tileLayer('http://{s}.tile.cloudmade.com/ccb4d4ff50cc4c0da7f24d88c69842ce/997/256/{z}/{x}/{y}.png', {
                            attribution: 'Map &copy; <a href="http://openstreetmap.org">OSM</a>, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ©<a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);
                        map.invalidateSize();
                    })();
                </script>
            </div> 
            -->
            <iframe id='pg-map-frame' width=100% src="map.html"></iframe> 
        </div>
    {% endblock %}

    {% block center-btn %}
    <li>
        <a id='pq-shutter-btn' data-transition="fade" data-theme="" data-icon="">
            Snap Pic!
        </a>

        <div style='display:none;'>
            <form id='pq-camera' method="post" enctype="multipart/form-data" action="/uploader">
                <input type="image" accept="image/*;capture=camera" name="file">
            </form>
        </div>
    </li>
    {% endblock %}

    {% block script %}
    <script>
        // Not showing vendor prefixes or code that works cross-browser.
        navigator.getMedia = ( navigator.getUserMedia ||
                 navigator.webkitGetUserMedia ||
                 navigator.mozGetUserMedia ||
                 navigator.msGetUserMedia);
                
        function showPosition(position)
        {
            console.log('lat : ' + position.coords.latitude);
            console.log('lon : ' + position.coords.longitude); 
        }

        filepicker.setKey('AWQaB0oFgTMqs6g05olNFz');

        $('#pq-shutter-btn').click(function(event) {
            console.log('Click!');

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {

                    showPosition(position);

                    filepicker.pick({
                            mimetype: 'image/*',
                            container: 'window',
                            services:['WEBCAM', 'FACEBOOK'],
                        }, 
                        function(InkBlob) {

                            var map = document.getElementById('pg-map-frame').contentWindow['map'];
                            var marker = L.marker([
                                position.coords.latitude,
                                position.coords.longitude
                            ]).addTo(map)

                            marker.on('click', function(event) {
                                console.log('Why Hello!');
                            });
                        }, 
                        function(FPError) {
                           console.log(FPError.toString());
                        }
                    );
                });
            }
        });
        
    </script>
    {% endblock %}
