{% extends 'base.html' %}

    {% block pageId %}home{% endblock %}

    {% block content %}
    <script>
    // load previous images
    FB.getLoginStatus(function(response) {
            //console.log('login status : ' + response.status);
            
        if (response.status === 'connected') {
            accessToken = response.authResponse.accessToken;
            //console.log(response.authResponse);
            
            {% block fb_script %}
            var createMarker = function(map, lat, lon, url) {
                var marker = L.marker([ lat, lon ]).addTo(map);

                // marker click listener
                marker.on('click', function(e) {

                    var modal = picoModal({
                        content: "Lon : " + lon.toFixed(3) + ', Lat : ' + lat.toFixed(3) + 
                        '<iframe width=100% height=300px src="' + url + '"></iframe>',
                        modalStyles: {
                            width: '300px',
                            margin: '0px 0px 0px -150px',
                            background: "#eee", 
                            padding: "5px 10px",
                            borderRadius: "5px", 
                            border: "1px solid #ccc"
                        }
                    });
                });
            };

            var loadFacebookAlbum = function(accessToken, albumId) {
                console.log('attempting to load album - ' + albumId);

                var address = 'https://graph.facebook.com/' + albumId + '/photos?' +
                    'access_token=' + accessToken;

                $.get(address, function(images, textStatus, jqXHR) {
                    console.log(JSON.stringify(images, null, 2));

                    // retriving images from facebook
                    var map = document.getElementById('pg-map-frame').contentWindow['map'];
                    for (var i in images.data) {
                        var image = images.data[i]; 
                        var coords = image.name.split('x'),
                            lat = parseFloat(coords[0]),
                            lon = parseFloat(coords[1]);
                        createMarker(map, lat, lon, image.source);
                    }

                }).fail(function(data, textStatus, jgXHR) {
                    console.log('failed to retrieve images for album - ' + albumId);
                });
            };

            // get the user objcet
            FB.api('/me/albums?access_token=' + accessToken, function(albums) {
                //console.log('user : ' + JSON.stringify(user, null, 2));
                console.log(JSON.stringify(albums, null, 2));  
                for (var i in albums.data) {
                    if (albums.data[i].name === "Pig.io Photos") {
                        loadFacebookAlbum(accessToken, albums.data[i].id);
                        return;
                    }
                }             
            });
            {% endblock %}

        } else {
            if (window.location.pathname !== '/login') {
                window.location = '/login';
            }
        }
    });
    </script>

    <div data-role='content' class='pq-content'>
        <iframe id='pg-map-frame' width=100% src="map.html"></iframe> 
    </div>
    {% endblock %}

    {% block center-btn %}
    <li>
        <a id='pq-shutter-btn' data-transition="fade" data-theme="" data-icon="">Snap Pic!</a>
    </li>
    {% endblock %}

    {% block script %}
    <script src="bower_components/PicoModal/src/picoModal.js"></script>
    <script>

    var createMarker = function(map, lat, lon, url) {
        var marker = L.marker([ lat, lon ]).addTo(map);

        // marker click listener
        marker.on('click', function(e) {

            var modal = picoModal({
                content: "Lon : " + lon.toFixed(3) + ', Lat : ' + lat.toFixed(3) + 
                '<iframe width=100% height=300px src="' + url + '"></iframe>',
                modalStyles: {
                    width: '300px',
                    margin: '0px 0px 0px -150px',
                    background: "#eee", 
                    padding: "5px 10px",
                    borderRadius: "5px", 
                    border: "1px solid #ccc"
                }
            });
        });
    };

    var resizeMap = function() {
        //console.log('Formatting iframe height.');
        var mapFrame = $('#pg-map-frame');

        var documentHeight = $(document).height() ;
        //console.log('doc height : ' + documentHeight);

        mapFrame.height($(document).height() - 5 - 
            (parseInt($('div[data-role="content"]').css('padding-top'), 10) + parseInt($('div[data-role="content"]').css('padding-bottom'), 10)) -
            ($('#pq-menu').height() + $('div[data-role="header"]').height()));
    }; 

    $(document).ready(function() {
        resizeMap();
        console.log('resize the map');
    });

    // Not showing vendor prefixes or code that works cross-browser.
    navigator.getMedia = ( navigator.getUserMedia ||
             navigator.webkitGetUserMedia ||
             navigator.mozGetUserMedia ||
             navigator.msGetUserMedia);
            
    function showPosition(position)
    {
        console.log('lat : ' + position.coords.latitude);
        console.log('lon : ' + position.coords.longitude); 
    }

    filepicker.setKey('AWQaB0oFgTMqs6g05olNFz');

    $('#pq-shutter-btn').click(function(event) {
        console.log('Click!');

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {

                showPosition(position);

                filepicker.pick({
                        mimetype: 'image/*',
                        container: 'window',
                        services:['WEBCAM', 'FACEBOOK'],
                    }, 
                    function(InkBlob) {

                        var map = document.getElementById('pg-map-frame').contentWindow['map'];
                        createMarker(map, 
                            position.coords.latitude,
                            position.coords.longitude,
                            InkBlob.url);

                        // save the marker to facebook
                        FB.getLoginStatus(function(response) {
                                //console.log('login status : ' + response.status);
                                
                            if (response.status === 'connected') {
                                accessToken = response.authResponse.accessToken;
                                //console.log(response.authResponse);

                                // get the user objcet
                                FB.api('/me?access_token=' + accessToken, function(user) {
                                    //console.log('user : ' + JSON.stringify(user, null, 2));

                                    var address = 'https://graph.facebook.com/' + user.id + '/photos?' + 
                                        'access_token=' + accessToken + '&' +
                                        'url=' + InkBlob.url + '&' + 
                                        'message=' + position.coords.latitude.toFixed(3) + 'x' + 
                                        position.coords.longitude.toFixed(3);
                                    console.log('FB POST - ' + address);
                                    
                                    $.post(address, function(data, textStatus, jqXHR) {
                                        // image has been successfuly created
                                        console.log('FB response : ' + JSON.stringify(data, null, 2));
                                        
                                    }).fail(function(data, textStatus, jqXHR) {
                                        console.log('failed to save image to FB.');
                                    });               
                                });

                            } else {
                                if (window.location.pathname !== '/login') {
                                    window.location = '/login';
                                }
                            }
                        });
                    }, 
                    function(FPError) {
                       console.log(FPError.toString());
                    }
                );
            });
        }
    }); 
    </script>
    {% endblock %}
