{% extends 'base.html' %}

	{% block pageId %}login{% endblock %}

	{% block pq-menu-class %}hidden{% endblock %}

    {% block content %}
    <div data-role='content'>
    	<a id='pq-login-btn' data-role="button">Login with Facebook</a>
    </div>
    {% endblock %}

    {% block script %}
    <script type="text/javascript">

    	$('#pq-login-btn').click(function(event) {
			FB.login(function(resp) {
				if (resp.authResponse) {
					window.location = '/home';
				} else {
					console.log('Login not authorised.');
				}
			}, {
				scope: 'email'
			});
		});

    </script>
    {% endblock %}
    
        
