{% extends 'base.html' %}

	{% block pageId %}login{% endblock %}

	{% block pq-menu-class %}hidden{% endblock %}

    {% block content %}
    <div data-role='content'>

    </div>
    {% endblock %}

    {% block script %}
    <script type="text/javascript">

    $(document).on('pageinit', function(){
        Clay.ready(function() {

        	Clay.Player.requireLogin(function(response) {
                console.log(response);
                if (Clay.Player.loggedIn) {
                    window.location = '/home';
                }
            }, false);
        
        });
     });

     </script>
    {% endblock %}
    
        
