{% extends 'base.html' %}

    {% block pageId %}profile{% endblock %}

    {% block content %}
    <script>

	if (FB) {
		FB.getLoginStatus(function(response) {
	        console.log('login status : ' + response.status);
	        if (response.status === 'connected') {
	            accessToken = response.authResponse.accessToken;

	            FB.api('/me?access_token=' + accessToken, function(user) {
			        //console.log('user : ' + JSON.stringify(user, null, 2));

			        {% block fb_script %}
			        $(document).ready(function() {
				        var address = 'https://graph.facebook.com/' + user.id + '?fields=name,picture.type(large)';
				        console.log('FB GET - ' + address);
						$.get(address, function(data, textStatus, jqXHR) {
						
							console.log('FB response : ' + JSON.stringify(data, null, 2));
							$(document).ready(function() {
								$('#pg-profile-name').text(data.name);
								$('#pg-profile-img').attr('src', data.picture.data.url);
							});

						}).fail(function(data, textStatus, jqXHR) {
							console.log('failed to retrieve user image.');
						});
					});
					{% endblock %}				        
			    });

	        } else {
	            if (window.location.pathname !== '/login') {
	                window.location = '/login';
	            }
	        }
	    });
	}
       
    </script>

    <div data-role='content'>

    	<div class="ui-grid-a">
            <div class="ui-block-a">
                <div id='pg-profile-frame' style="text-align: center; width: 100%; height: 180px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                    <img id="pg-profile-img" alt="image">
                </div>
            </div>
            <div style="text-align: center;" class="ui-block-b">
            	<h2 id="pg-profile-name">
		            Unknown Name
		        </h2>
            </div>
        </div>	

    	<a id='pq-logout-btn' data-role="button">Logout</a>
    	<script>
    		console.log('register logout button');
    		$('#pq-logout-btn').click(function(event) {
    			FB.logout(function(response) {
					window.location = '/login';
				});
    		});
    	</script>
    </div>
    {% endblock %}
