{% extends 'base.html' %}

    {% block pageId %}profile{% endblock %}

    {% block content %}
    <div data-role='content'>
    	<a id='pq-logout-btn' data-role="button">Logout</a>
    	<script>
    		console.log('register logout button');
    		$('#pq-logout-btn').click(function(event) {
    			FB.logout(function(response) {
					window.location = '/login';
				});
    		});
    	</script>
    </div>
    {% endblock %}

    {% block fb_script %}
    FB.api('/me?access_token=' + accessToken, function(resp) {
        userData = resp;
        console.log(userData);
    });
    {% endblock %}
